@charset "UTF-8";

/**************************************
Custom Structure
**************************************/

body {
  font-family: sans-serif;
}

.center {
  text-align: center;
}

#header_logo {
  background-color: white;
}

#header_logo img {
  margin: 0 20px 0 0;
  background-color: white;
  height: 47px;
  float: left;
}

#main-content {
  min-height: 310px;
  padding-top: 10px;
}

#main-content h3 {
  text-align: center;
}

.featured h2 {
  text-align: center;
}

.featured {
  background-color: #efefef;
  margin-top: 40px;
  padding-bottom: 24px;
}

.navbar {
  min-height: 40px;
  height: 52px;
}

#header-bottom {
  background-color: black;
}

.views-field-field-image {
  padding-top: 10px;
}

/* footer */
footer .footer-top{
  border-top: 1px solid #e4e4e4;
  padding: 20px 0;
}

footer .middle-footer{
  padding: 10px 0;
    text-align: center;
  }

footer .bottom-footer{
  padding: 10px 0;
    text-align: center;
}

@media (max-width: 1199px) {
    footer .footer-top {
        margin-bottom: 30px;
  }
}

footer .footer-top .socialfeedblock.footer {
    padding: 0 10px;
    margin-bottom: 0;
  height: 300px;
}

footer .footer-top .socialfeedblock.footer h4:after {
    display: none;
}

@media (max-width: 767px) {
    footer .footer-top .socialfeedblock.footer {
    padding: 0 15px;
  }
}

footer .footer-top .socialfeedblock.footer .hook_footer {
    margin: 0;
}

footer .footer-top .socialfeedblock.footer .hook_footer > div {
    width: 100%;
    float: none;
    padding: 0;
}

@media (max-width: 991px) {
    footer .footer-top .footer-block {
        margin-top: 50px;
  }
}

@media (max-width: 767px) {
    footer .footer-top .footer-block {
        margin-top: 20px;
        float: none;
  }
}

footer .footer-top a{
    color: #777777;
}

footer .footer-top a:hover {
    color: #333;
  text-decoration: none;
}

footer .footer-top h4 {
  color: #111;
  margin: 0 0 41px 0;
}

@media (max-width: 767px) {
  footer .footer-top h4 {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 13px;
    padding-right: 25px;
  }

  footer .footer-top h4:after {
    display: block;
    content: "\f055";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    top: 1px;
  }

  footer .footer-top h4.active:after {
    content: "\f056";
  }
}

footer .footer-top h4 a {
    color: #111;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
footer .footer-top h4 a:hover {
    color: #BD2A26;
  text-decoration: none;
}

footer .footer-top ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

footer .footer-top ul li {
    padding-bottom: 11px;
}

footer .footer-top ul li a {
  font-size: 18px;
  line-height: 21px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Adamina", serif;
}

@media (max-width: 1199px) {
  footer .footer-top ul li a {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 991px) {
  footer .footer-top ul li a {
    font-size: 14px;
    line-height: 18px;
  }
}
footer .footer-top #block_contact_infos {
  border-left: 1px solid #515151;
}

@media (max-width: 767px) {
  footer .footer-top #block_contact_infos {
    border: none; }
}

footer .footer-top #block_contact_infos > div {
  padding: 0 0 0 5px;
}

@media (max-width: 767px) {
  footer .footer-top #block_contact_infos > div {
    padding-left: 0;
  }
}

footer .footer-top #block_contact_infos > div ul li {
  padding: 0 0 7px 4px;
  overflow: hidden;
  line-height: 30px;
}

footer .footer-top #block_contact_infos > div ul li > span,
footer .footer-top #block_contact_infos > div ul li > span a {
  color: white;
  font-weight: normal;
}

footer .footer-top #block_contact_infos > div ul li i {
  font-size: 25px;
  width: 32px;
  text-align: center;
  padding-right: 12px;
  float: left;
  color: #908f8f;
}

footer .footer-top .blockcategories_footer {
  clear: left;
}

/* block view */
/*  DELETED  */

/* block-slider */

#block-slider{
  overflow: hidden;
}

#block-slider img.header-bottom-image{
  width: 100%;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: all 15s linear;
  -o-transition: all 15s linear;
  -webkit-transition: all 15s linear;
  transition: all 15s linear;
}

#block-slider img.header-bottom-image:hover{
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

/* block customtabs */

/* block social */
#social_block {
  clear: left;
  float: none;
  margin: 0;
}

#social_block ul {
    text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}
    @media (max-width: 767px) {
      #social_block ul {
        float: none; } }
    #social_block ul li.rss a {
      background: #ffc500; }
    #social_block ul li.twitter a {
      background: #56cdff; }
    #social_block ul li.google-plus a {
      background: #d44934; }
    #social_block ul li.youtube a {
      background: #d44934; }
    #social_block ul li {
      display: inline-block;
      text-align: center;
      padding: 0 11px; }
      #social_block ul li a {
        display: block;
        color: #fff;
        font-size: 16px;
        background: #405a9a;
        line-height: 40px;
        height: 40px;
        width: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        position: relative; }

#social_block ul li a:hover {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #000;
  text-decoration: none;
}

#social_block ul li a:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
#social_block ul li a span {
  display: none; }
#social_block ul li a:before {
  display: inline-block;
  font-family: "FontAwesome"; }
#social_block ul li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

#social_block h4 {
  float: right;
  margin-bottom: 0;
  font-size: 21px;
  line-height: 25px;
  text-transform: none;
  padding: 0 10px 0 0; }
  @media (max-width: 767px) {
    #social_block h4 {
      display: none;
      text-align: center; }
}

/* Code for the Magazine Vamos display all page */
.views-field-field-cover-image .field-content img {
    height: 283px;
    width: 200px;
}

.view-revista-vamos-banner .cover:hover {
  opacity: 0.7;
}

.revistas {
    margin: 0 auto;
    width: 800px;
}

#banner {
    text-align: center;
    overflow: hidden;
    padding-top: 20px;
}

#banner h2 {
    width: 200px;
    position: absolute;
    display: inline-block;
}

.flecha {
    position: relative;
    padding-bottom: 50px;
    left: 0px;
    z-index: 2;
/*transition-duration*/
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.nueva {
    position: relative;
    padding-bottom: 170px;
    /*right: -10px;*/
    z-index: 2;
/*transition-duration*/
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

#banner a img{
/*transform*/
-webkit-transform:rotate(-10deg);
   -moz-transform:rotate(-10deg);
    -ms-transform:rotate(-10deg);
     -o-transform:rotate(-10deg);
        transform:rotate(-10deg);
z-index:1;
margin:15px 0px -31px 0px;
/*transition-duration*/
-webkit-transition-duration:.5s;
   -moz-transition-duration:.5s;
     -o-transition-duration:.5s;
        transition-duration:.5s;
}

#banner a .portadahover{
/*transform*/
-webkit-transform:rotate(0deg);
   -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
     -o-transform:rotate(0deg);
        transform:rotate(0deg);
margin:15px 0px -5px;
}

#shadow-line{
height: 50px;

margin:-1px auto;
/*box-shadow*/
-webkit-box-shadow:0px -22px 24px -20px rgb(0, 0, 0);
   -moz-box-shadow:0px -22px 24px -20px rgb(0, 0, 0);
        box-shadow:0px -22px 24px -20px rgb(0, 0, 0);
width:40em;
}

.flechahover{
padding-bottom:78px;
left:-30px;
}

.nuevahover{
padding-bottom:220px;
right:-30px;
}

/*index*/
#index{
background-color:#0CAFD7;
}

#portada_title {
padding-top: 75px;
}

.edicion {
  text-align: center;
  margin: 15px 0;
}

.edicion:hover {
  opacity: 0.7;
}

.edicion img{
  width: 370px;
}

.edicion .heading-wrapper {
  height: 60px;
  overflow: none;
  display: table-cell;
  vertical-align: middle;
}

.edicion h2 {
  margin: 0;
  text-align: center;
  color: #333333;
  font-size: 19px;
}

.edicion h5 {
  margin-top: 0px;
  color: #999;
}


.edic_ante
{
text-align: center;
text-transform: uppercase;
}

/* ------ Revista Vamos page ------ */
 .edicion:hover img, .cover:hover img{
     opacity: 0.3;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
     -webkit-transform: scale(1.3, 1.3);
     -moz-transform: scale(1.3, 1.3);
     -ms-transform: scale(1.3, 1.3);
     -o-transform: scale(1.3, 1.3);
     transform: scale(1.3, 1.3);
     max-width: 100%;
     height: auto;
     -webkit-transition: all .8s ease;
     -moz-transition: all .8s ease;
     -o-transition: all .8s ease;
     transition: all .8s ease;
}
 .edicion img, .cover img{
     -webkit-transition: all .8s ease;
     -moz-transition: all .8s ease;
     -o-transition: all .8s ease;
     transition: all .8s ease;
}
 .views-field-field-cover-image .field-content a:nth-child(2){
     display: block;
     position: relative;
     -webkit-transition: all .8s ease;
     -moz-transition: all .8s ease;
     -o-transition: all .8s ease;
     transition: all .8s ease;
}
 .views-field-field-cover-image .field-content a:nth-child(2):after, .cover a:after{
     content: "\f002";
     opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     top: 10%;
     position: absolute;
     z-index: 5;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     width: 100%;
     text-align: center;
     font-size: 60px;
     line-height: 1em;
     color: #fff;
     font-family: "FontAwesome";
     margin: 0;
     left: 0;
     bottom: 0;
}
 .edicion:hover .views-field-field-cover-image .field-content a:nth-child(2):after, .cover:hover a:after{
     content: "\f002";
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
     top: 40%;
}
 .cover a{
     display: block;
     overflow: hidden;
     text-align: center;
     background:#fff;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
 .cover:hover a{
     background: #000;
}
 .cover:hover h2 a{
     background: #fff;
}
 .edicion:hover .views-field-field-cover-image{
     display: block;
     background: #000;
}
 .edicion .views-field-field-cover-image{
     position: relative;
     overflow: hidden;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
 .edicion h2{
     position: relative;
}
 .edicion:hover h2 a, .edicion:hover span{
     color: #fff !important;
}
 .edicion h2 a{
     margin-top: 3px;
     padding-bottom: 7px;
     padding-top: 7px;
     display: block;
}
 .edicion span{
     padding-bottom: 7px;
     display: block;
}
 .edicion:hover h2:before{
     height: 100px;
}
 .views-field-title h2:before{
     content: "";
     background: #BD2A26;
     position: absolute;
     top: -3px;
     left: 0;
     width: 100%;
     height: 3px;
     z-index: -1;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
 .edicion{
     margin-bottom: 30px;
     -webkit-box-flex: 1;
     -moz-box-flex: 1;
     -ms-box-flex: 1 0 auto;
     flex: 1 0 auto;
}
 .view-id-vamos .view-content{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
    /* height: auto;
     */
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}
 @media (min-width: 1200px){
     #content {
         width: 970px !important;
    }
}

.view-id-recursos .views-exposed-form .views-exposed-widget .form-submit {
margin-top: 2.6em;
}

/* Home page icon for revista vamos */
#revista-front-page-icon {
position: absolute;
top: 0px;
left: 38px;
}

#main-content .views-field-field-image a{
     display: block;
     overflow: hidden;
     -webkit-transition: all .8s ease;
     -moz-transition: all .8s ease;
     -o-transition: all .8s ease;
     transition: all .8s ease;
     position: relative;
}
 #main-content .views-field-field-image a:hover{
     background: #000;
     position: relative;
     z-index: 10;
}
 #main-content .views-field-field-image a img{
     display: block;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
     -webkit-transition: all .8s ease;
     -moz-transition: all .8s ease;
     -o-transition: all .8s ease;
     transition: all .8s ease;
}
 #main-content .views-field-field-image a img:hover{
     opacity: 0.3;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
     -webkit-transform: scale(1.3, 1.3);
     -moz-transform: scale(1.3, 1.3);
     -o-transform: scale(1.3, 1.3);
     transform: scale(1.3, 1.3);
     max-width: 100%;
     height: auto;
}
 #main-content .views-field-field-image a:after{
     content: "\f002";
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
     top: 10%;
     position: absolute;
     z-index: -1;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all .5s ease;
     -o-transition: all .5s ease;
     transition: all 0.5s ease;
     text-align: center;
     font-size: 60px;
     line-height: 1em;
     color: #fff;
     font-family: "FontAwesome";
     right: 0;
     left: 0;
     bottom: 0;
}
 #main-content .views-field-field-image:hover a:after{
     content: "\f002";
     z-index: -1;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
     top: 40%;
}

/* ------ la revista ------ */

.caja-blog{
  background:#f5f5f5;
  padding:15px;
  margin:15px 5px;
  line-height:23px;
  text-align:justify;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.caja-blog h4{
  text-transform:uppercase;
}
.caja-blog img{
  margin:15px 0;
}
#sidebar img{
  margin:15% 0;
}
#sidebar .buttonSpecial{
  margin:20%;
}

/* ------ blog completo ---- */
.box-buttonSpecial{
  text-align: center;
}
.revista-semana-imagen{
  margin:40px 0;
}

/* ------ curso vamos ------ */
#block-system-main .view-cursovamos span a,.view-id-quienessomos span a{
    width: 260px;
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
    background: #fff37d;
    color: #333;
    margin: .05rem 0;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
}
#block-system-main .view-cursovamos span a:hover,.view-id-quienessomos span a:hover {
    padding-right: 50px;
    width: 300px;
    color:#BD2A26;

}
#block-system-main .view-cursovamos span a:after,.view-id-quienessomos span a:after {
    transition: all .3s ease;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background:rgba(0,0,0,0.1);
    top: 0;
    left: -100%;
}
#block-system-main .view-cursovamos span a:hover .fa, .view-id-quienessomos span a:hover .fa {
    transition: all .3s ease;
    right: 1rem;
}
#block-system-main .view-cursovamos span a:hover:after ,.view-id-quienessomos span a:hover:after{
  left: 0;
}
#block-system-main .fa {
    margin-left: 2rem;
    position: absolute;
    right: 1rem;
    font-size: 1.7rem;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

/* ------ recursos misioneros ------ */
.view-recursos{
  margin:10px 0;
}
.btn-custom{
  background:#BD2A26;
  border:1px solid #BD2A26;
  border-radius: 10px;
  padding:5px 20px !important;
  font-weight: bold;
  font-size:16px;
  /*filter:opacity(.8);*/
  height: 33px;
  display: table-cell;
}

.btn-custom .file{
  display: table-cell;
  width:330px;
  color:#fff !important;
  line-height: 1.2;
}
.btn-custom .file a{
  display: table-cell;
  font-size: 0.6em;
  color: #dedede;
  margin: 0 15px;
}
.btn-custom .file-icon{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    border-left: 1px solid #e46969;
    padding-left:15px;
    float:right;
    position: relative;
    bottom: 9px;
}

.view-id-vamos {
  clear: both;
  padding-top: 50px;
}

.box-buttonSpecial .buttonSpecial {
    background: #BD2A26;
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 20px 40px;
    transition: all 0.3s ease;
}

.box-buttonSpecial .buttonSpecial:hover{
  background: #ffffff;
  color: #000000;
  border: 1px solid #BD2A26 !important;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0
  left: 0;
  width: 100%;
  height: 100%;
}
