@import url('https://fonts.googleapis.com/css?family=Helvetica Neue');

@charset "UTF-8";

:root {
  --sim-color: #BD2A26;
}


/*********************************************
Main Tags
**********************************************/

html {
  line-height: 1;
}

/* body */

body{
  min-width: 320px;
  height: 100%;
  line-height: 18px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: #fff;
}

.edic_ante{
  font: normal 20px/24px;
  color: #555454;
  padding: 70px 0 20px 0;
  border-bottom: 1px solid #e3e3e3;
  overflow: hidden;
  text-transform:uppercase;
}

a, a:focus{
  color: #333333;
}

a, a:focus {
  outline: none;
}

a:hover{
  color: #BD2A26;
  text-decoration: none;
}

a:focus{
  text-decoration: none;  
}

img {
  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
    content: none;
}

/* input */


input, textarea{
  /*border: 1px solid #e3e3e3;
  background: none;*/
  border: 1px solid #e3e3e3 !important;
  padding: 10px;
}

input[type=submit]{
  transition: all 0.3s ease;
  padding: 10px 20px;
}

input[type=submit]:hover{
  background: #BD2A26;
  border-color: #BD2A26;
  color: #fff;
}

input[type=submit].button--primary{
  background: none;
  border-color: #BD2A26;
}

input[type=submit].button--primary:hover{
  background: #BD2A26;
  color: #fff;
}

/****************************************
Main Classes
*****************************************/

/* container */

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
/* navbar */

.nav > li > a:focus, .nav > li > a:hover{
  background: none;
}

.navbar {
  border-radius: 0;
  margin-bottom:0;
  z-index: 1;
}

.navbar-brand {
  height: auto;
  padding: 0 15px;
}

.navbar-brand > img {
  height: 100%;
  width: auto;
}

.navbar-static-top{
  background: none;
  border: none;
}

/* breadcrumb */

.breadcrumb {
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  min-height: 6px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;  
}

.breadcrumb ol li {
  border: 1px solid #e3e3e3;
  float: left;
}

.breadcrumb ol li:before{
  content: none;
}

/*.breadcrumb ol li + li{
  margin-left: -1px;
}*/

.breadcrumb a {
    display: block;
    background: white;
    padding: 0 15px;
    color: #333333;
}

.breadcrumb a:hover {
    color: #BD2A26;
}


/* tabs */
.tabs ul.primary {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
  white-space: nowrap;
}

.tabs ul.primary li {
  display: block;
  float: left;
  vertical-align: bottom;
  margin: 0;
  border: 1px solid #e3e3e3;
}

.tabs ul.primary li.is-active {
  border-bottom: 1px solid #fff;
}

./*tabs ul.primary li + li {
  margin-left: -1px;
}*/

.tabs ul.primary li:first-child {
  margin-left: 0px;
}

.tabs ul.primary li a {
  color: #000;
  background-color: #f5f5f5;
  display: block;
  margin: 0;
  padding: 5px 15px;
}

.tabs ul.primary li.is-active a{
  background-color: #ffffff;
  color: #000;
}

.tabs ul.primary li a:hover{
  color: #BD2A26;
}

.tabs ul.primary li.is-active a:hover{
  color: #000;
}




/* block */

@media (max-width: 767px) {
  .block {
    margin-bottom: 0;
  }
  .edic_ante{
  padding: 70px 0 20px 0;}
}

.block .block_content > ul {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .block .block_content {
    margin-bottom: 20px;
  }
}

.block .title_block {
  font: normal 30px/1em "Helvetica Neue", sans-serif;
  color: #555454;
  margin: 0 0 20px 0; }
  @media (max-width: 1199px) {
    .block .title_block {
      font: normal 20px/1em "Helvetica Neue", sans-serif; } }
  @media (max-width: 767px) {
    .block .title_block {
      position: relative;
      padding-right: 40px; }
      .block .title_block:after {
        display: block;
        font-family: "FontAwesome";
        content: "";
        position: absolute;
        right: 0;
        top: 1px;
        height: 36px;
        width: 36px;
        font-size: 26px;
        font-weight: normal; }
      .block .title_block.active:after {
        content: ""; } }
  .block .title_block a {
    color: #555454;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .block .title_block a:hover {
      color: #333333; }

/* node */

.node__meta{
  padding-bottom: 10px;
}

/* Zoom */

@media (max-width: 1199px) {
  .zoomdiv {
    display: none !important; }
}

/*********************************************
Menus
**********************************************/

/* top navbar */

nav #top-nav-container{
  margin-bottom: 0;
}

#top-navbar{
  float: right;
}

#top-navbar-row-1 ul.menu{
  text-align: right;
  margin:0;
}

#top-navbar-row-1  ul.menu li {
  display: inline-block;
  padding:20px 0 15px 0;
}

#top-navbar-row-1  ul.menu li:last-child {
  padding-right: 0;
}

#top-navbar-row-1  ul.menu li a {
  font-family: "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#top-navbar-row-1  ul.menu li a:hover {
  color: #BD2A26;
}

/* main menu */

nav#main-nav-container{
  background:#BD2A26;
  margin-bottom: 0;
}

nav#main-nav-container.stickUpTop {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  clear: none;
  z-index: 900;
}

nav#main-nav-container.stickUpHolder {
  padding: 0;
  max-width: 100%;
}

@media only screen and (max-width: 1199px) {
  nav#main-nav-container.isStuck .container {
    padding-left: 15px;
    padding-right: 15px; }
}

nav#main-nav-container .navbar-toggle {
  border-radius: 0;
  border-color: #fff;
}

nav#main-nav-container .navbar-toggle:focus {
  background: transparent;
}

nav#main-nav-container .navbar-toggle:hover {
  background: #fff;
}

nav#main-nav-container .navbar-toggle span.icon-bar{
  background: #fff;
}

nav#main-nav-container .navbar-toggle:hover span.icon-bar{
  background: #BD2A26;
}

nav#main-nav-container .navbar-title {
  display: none;
  font: normal 15px/20px "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 767px) {
  nav#main-nav-container .navbar-title {
    padding: 15px;
    display: block;
  } 
}

nav#main-nav-container #block-mainnavigation {
  float: left;
}

@media (max-width: 767px) {
  nav#main-nav-container #block-mainnavigation  {
    float: none;
  } 
}

#main-navbar ul.navbar-nav{
  margin-top: 0;
  margin-bottom: 0;
}

#main-navbar ul.navbar-nav > li {
  float: left;
  padding-top: 0;
}

@media (max-width: 767px) {
  #main-navbar ul.navbar-nav > li {
    float: none;
    position: relative;
    border-right: none;
    background-color: black;
  }
}

#main-navbar ul.navbar-nav > li > a {
    font: normal 15px/20px "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    color: #fff;
    display: block;
    position: relative;
    /*padding: 33px 20px 31px;*/
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    -webkit-transition: none;
    -moz-transition: top 1s ease-out 0.5s;
    -o-transition: top 1s ease-out 0.5s;
    transition: top 1s ease-out 0.5s;
    z-index: 1; 
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container{
    width:100%;
  }
  #main-navbar ul.navbar-nav {
  display: -webkit-box;
}
  #main-navbar ul.navbar-nav > li > a {
  padding: 15px 9px; } 

}


@media (max-width: 767px) {
  #main-navbar ul.navbar-nav > li > a {
  padding: 20px; } 
}

#main-navbar ul.navbar-nav > li > a strong {
  display: block;
  font-weight: normal;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
    
#main-navbar ul.navbar-nav > li > a:before {
  background: #fff;
  content: "";
  width: 100%;
  height: 0%;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#main-navbar ul.navbar-nav > li > a:hover{
    color: #333; 
}

#main-navbar ul.navbar-nav > li > a:hover strong{
  -webkit-animation-name: wobble-vertical;
      animation-name: wobble-vertical;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;  
}

#main-navbar ul.navbar-nav > li > a:hover:before {
  height: 100%;
}




/*********************************************
Structure
**********************************************/

/* main content */

/*#main-content{
  padding-bottom: 30px;
  padding-top: 30px;
}*/

/* footer */

#footer{
  color: #777777;
  margin-top:50px;
}

/* regions */ 

#highlighted{
  display: block;
  margin-bottom: 20px;
}


/*********************************************
Blog View
**********************************************/

#page-title {
  padding-bottom: 20px;
}

.page-blog, .node-type-blog {
background-color: #fafafa;
}

.node-blog .submitted {
  display: none;
}

.node-blog .node-teaser p {
  background-color: lime;
}

.view-blog .view-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.view-blog .views-row, .node-blog, .view-related-magazine-view {
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 10px 15px rgba(201, 3, 3, 0.1);
}

.view-blog .views-field-field-blog-image {
  padding-bottom: 12px;
}

.view-blog h3 {
  margin-top: 5px;
}

.view-blog h3 a {
  color: var(--sim-color);
}

.view-blog h3 a:hover {
  color: #777;
}

.view-blog ol {
  list-style: decimal;
}

.view-blog li {
  font-size: 15px;
  line-height: 1.3;
  padding-bottom: 12px;
}

#block-views-related-magazine-view-block .node-magazine-vamos h2 {
  display: none;
}

.view-blog .views-row {
  padding-bottom: 14px;
}

.view-blog-related {
  margin-top: 40px;
}

.node-type-magazine-vamos .view-content {
  display: flex;
  flex-wrap: wrap;
}

.node-type-magazine-vamos .views-row {
  position: relative;
  margin: 0 10px;
  width: 210px;
  background: #fff;
  padding: 0px;
  margin-bottom: 30px;
  border-radius: 5px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 10px 15px rgba(201, 3, 3, 0.1); */
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15) !important;
  transition: all 300ms;
  top: 0px;
}

.node-type-magazine-vamos .views-row:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15) !important;
  top: -4px;
}

.node-type-magazine-vamos .views-row img {
  object-fit: cover;
  height: 120px;
}


.node-type-magazine-vamos .view-blog-related h4 {
  font-size:16px;
  padding: 0 10px;
}

.view-blog-related .views-field-view-node a {
  padding: 0 10px;
}

#content ul {
  list-style: disc;
}

#content li {
  margin-bottom: 4px;
}

#content ol {
  list-style: decimal;
}

#content p {
  font-size: 15px;
  line-height: 1.4;
  margin: 0 0 12px;
}
